name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: OpenBinFolder
      display-name: 'Open Bin Folder'
      marketplace-id: CodingWithCalvin.VS-OpenBinFolder
      description: 'Quick access to the builds output folder from the project context menu'
    secrets: inherit
